* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 30px;
  height: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 20px auto;
  /* border: 1px solid black; */
  padding: 5px 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.right,
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo-3 {
  outline: 2px solid black;
  outline-offset: 5px;
  border-radius: 50%;
  /* padding: 10px; */
}

.text {
  font-family: gt-super, Georgia, Cambria, 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-size: 36px;
  text-transform: capitalize;
  color: #242424;
}

.left {
  gap: 10px;
}
