@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Inter:wght@100;400;500;700;900&family=Josefin+Sans:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400&family=Montserrat:wght@700&family=Poppins:wght@100;200;300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sono:wght@300;400;500;700;800&family=Tilt+Neon&family=Tilt+Warp&family=Ysabeau+Infant:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hello {
  text-transform: capitalize;
  font-size: 85px;
  font-family: Poppins;
  font-weight: 700;
  text-align: center;
}

.something {
  text-transform: capitalize;
  font-size: 85px;
  font-family: Roboto;
  text-align: center;
  font-weight: 300;
}

/* animation */

.hello:hover {
  transition: ease-out;
  transition-duration: 0.5s;
  transition-delay: 0.7s;
  transform: scale(1.2);
}

.animation {
  animation-name: naina;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  text-align: center;
  font-size: 85px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Roboto;
  background: tomato;
  /* will-change: filter;
  transition: filter 300ms; */
}

@keyframes naina {
  from {
    translate: 200vw 0;
    scale: 200% 1;
  }
  to {
    translate: 0 0;
    scale: 100% 1;
  }
}

.animation2 {
  animation-name: sunaina;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  text-align: center;
  font-size: 85px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Roboto;
  background: rgb(232, 160, 5);
  /* animation-timing-function: linear; */
  /* will-change: filter;
  transition: filter 300ms; */
}

@keyframes sunaina {
  from {
    translate: -200vw 0;
    scale: 200% 1;
  }
  to {
    translate: 0 0;
    scale: 100% 1;
  }
}
