body {
  height: 95vh;
  border: 6px solid red;
}

.img {
  height: inherit;
  background-image: url(https://cdn.pixabay.com/photo/2021/05/23/17/52/bellies-6276856_1280.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
