@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playwrite+DK+Loopet:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  /* font-family: Playwrite DK Loopet; */
  font-family: Lato;
}
/* 9343989980 */
.text {
  /*
  border: 1px solid red; 
   position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  display: inline;
  */
  text-align: center;
  text-transform: lowercase;
  font-size: xx-large;
  font-size: 67px;
  background: radial-gradient(circle, #e95703, #063bfb);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: 25px solid transparent;
  padding: 15px;
  border-image: url(https://dm0qx8t0i9gc9.cloudfront.net/watermarks/image/rDtN98Qoishumwih/colored-drops-border-design-vector_7Jc0XM_SB_PM.jpg)
    70 round;
}
