* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

fieldset {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}

input[list] {
  padding: 10px;
  font-size: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  width: 300px;
  border: none;
  outline: none;
}

input[list]:focus {
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[list]::-webkit-calendar-picker-indicator {
  display: none !important;
}

/* this is for select tag */

select {
  padding: 10px;
  font-size: 24px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: white;
  cursor: pointer;
  appearance: none; /* removes default arrow */
}

select option {
  padding: 10px;
  font-size: 18px;
  background-color: lightgreen;
  color: black;
}

select:focus {
  outline: none;
  border-color: green;
  background-color: lightgreen;
}
