* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: transparent; */
}
h2 {
  margin: 20px auto;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  text-transform: capitalize;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
  margin-top: 100px;
  background: linear-gradient(to left top, gray, pink, green);
  padding: 40px 0;
}

h1 {
  text-transform: capitalize;
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  /* border: 2px solid red; */
  background: linear-gradient(to right bottom, blue, red, yellow);
  background-clip: text;
  color: transparent;
  /* -webkit-text-fill-color: transparent; */
}

/* 
$ this is Radial Gradient

-> A radial gradient radiates outward from a center point (like a ripple in water).

=> background: radial-gradient(shape size at position, color1, color2, ...);

*/

.radial {
  width: 600px;
  height: 600px;
  /* 
  # ellipse at direction
  $ circle at %
  & closest-side 
  */
  /* background: radial-gradient(closest-side, yellow, orange, red, blue); */
  /* background: repeating-radial-gradient(
    circle at 50%,
    #333333,
    #333333 10px,
    #eeeeee 10px,
    #eeeeee 20px
  ); */

  background: repeating-radial-gradient(
    circle,
    red 0px,
    red 10px,
    blue 10px,
    blue 20px,
    yellow 20px,
    yellow 30px
  );
  /* background: repeating-radial-gradient(red, yellow 10%, green 15%); */
  /* border: 2px solid #000; */
  /* margin-top: 200px;
  margin-left: 600px;
  filter: hue-rotate(360deg);
  animation: spinZoom 4s linear infinite, hueShift 6s linear infinite; */
}

/* 
# this is Conic Gradient

-> A conic gradient spins colors around a center point (like a pie chart).

=> background: conic-gradient(from angle at position, color1, color2, ...);

*/

.conic {
  margin-left: 600px;
  margin-top: 200px;
  width: 200px;
  height: 200px;
  background: conic-gradient(
    from 0deg at center,
    red,
    yellow,
    green,
    blue,
    red
  );
  border-radius: 50%;
  border: 2px solid #000;
}
