.image-container {
  width: 150px;
  height: 150px;
  background: radial-gradient(rgb(215, 174, 174), rgb(182, 182, 243));
  mask-image: url("../utils/react-logo-svgrepo-com.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}
