.containt {
  width: 200px;
  height: 200px;
  background-color: #00ffff;
  padding: 30px;
  /* padding: top right bottom left */
  /* padding: top-bottom left-right */
  margin: 30px;
  /* border: 2px dashed blue; */
  border-width: 20px;
  border-style: dashed;
  border-color: blue;
  text-align: center;
  line-height: 200px;
}
