.containt {
  width: 200px;
  height: 200px;
  background-color: #00ffff;
  padding: 30px;
  /* padding: top right bottom left */
  /* padding: top-bottom left-right */
  margin: 30px;
  /* border: 2px dashed blue; */
<<<<<<< HEAD
  border-width: 2px;
=======
  border-width: 20px;
>>>>>>> 098edfa6f943552857d271b4f862415072f4be45
  border-style: dashed;
  border-color: blue;
  text-align: center;
  line-height: 200px;
}
