.container {
  border: 1px solid red;
  height: 97vh;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.box {
  width: 150px;
  height: 150px;
  background: blue;
}

.child-1 {
  transform: skewX(20deg);
}

.child-2 {
  transform: skewY(20deg);
}

.child-3 {
  transform: skew(20deg, 20deg);
}

.child-4 {
  transform: skew(50deg, 60deg);
}

.child-5 {
  transform: skew(40deg, -20deg);
}
